.article{
	font-family: $opensans;
	margin: 3rem 0 6rem;
	font-size: 2rem;
	line-height: 1.15;
	font-weight: 300;
	a:not(.btn){
		font-weight: 400;
		text-decoration: underline;
		color: #000;
		&:hover{text-decoration: none;}
	}
	ul{
		margin: 2rem 0;
		li{margin-bottom: .6rem;}
	}
 	ol {
    	counter-reset: li;
    	padding: 0;
		margin: 2rem 0;
    	list-style: none;
		li{
			position: relative;
			padding-left: 2rem;
			margin-bottom: .6rem;
			&:before {
			    content:counter(li);
			    counter-increment:li;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
    }
	h1,h2{
		margin-bottom: 2.5rem;
		font-size: 3.5rem;
		font-weight: 400;
		mark{
			font-weight: bold;
			background: none;
		}
	}
	&__header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		h1,h2{margin-bottom: 0;}
	}
	p{
		margin: 2rem 0;
		font-weight: 300;
	}
	&__pic{
		width: 100%;
		margin-top: 4.5rem;
	}
	&__slider{
		width: 100%;
		margin: 4.5rem auto 6rem;
		position: relative;
		img{width: 100%;}
		.slick-arrow{
			top: 50%;
			z-index: 6;
			opacity: 1;
			width: 2.9rem;
			height: 11.5rem;
			margin-top: -5.75rem;
			background: center center no-repeat;
			background-size: contain;
		}
		.slick-prev{
			background-image: url(../img/main-slider/arrow-prev.png);
			left: 2.5rem;
		}
		.slick-next{
			background-image: url(../img/main-slider/arrow-next.png);
			right: 2.5rem;
		}
	}
	&__row{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	&__col{
		width: 50%;
		&:first-child{padding-right: 4.2rem;}
		&-img{
			margin-top: 14rem;
		}
	}
	strong{
		font-weight: bold;
		font-size: 2.5rem;
	}
	&__faximile{
		width: 23.2rem;
		margin-top: .8rem;
	}
	&__sec{
		margin-bottom: 9rem;
		&:last-child{margin-bottom: 0;}
		h2{
			text-align: center;
			font-size: 2.3rem;
			font-weight: 400;
			margin: 6rem 0 1rem;
		}
		&-center{
			text-align: center;
			font-size: 2rem;
			font-weight: 300;
			margin-bottom: 1.7rem;
		}
		&-bar{
			margin-top: 2.6rem;
			&-btn{
				margin: 0 auto;
				width: 26rem;
				height: 4rem;
				line-height: calc(4rem - 2px);
				font-size: 1.7rem;
				font-weight: 400;
			}
		}
	}
}
.contacts{
	font-size: 2.3rem;
	font-weight: 400;
	p:last-child{margin-bottom: 0;}
	a{color: #000;}
}

@media only screen and (max-width : 767px){
	.article{
		margin: 1.5rem 0 3rem;
		font-size: 1.5rem;
		h1,h2{
			margin-bottom: 2rem;
			font-size: 2.5rem;
			text-align: center;
		}
		&__sec{
			h2{
				font-size: 2.2rem;
				margin-top: 4rem;
			}
		}
		&__header{
			display: block;
			h1,h2{margin-bottom: 2rem;}
			margin-bottom: 2rem;
			.pagination{display: none;}
		}
		p{
			margin: 1.5rem 0;
			line-height: 1.5;
		}
		&__pic{
			margin-top: 1.5rem;
		}		
		&__row{display: block;}
		&__col{
			width: 100%;
			&:first-child{padding-right: 0;}
			&-img{
				margin: 3rem 0 0 0;
			}
		}
		strong{
			font-weight: bold;
			font-size: 1.5rem;
		}
		&__faximile{
			width: 13rem;
		}
		&__slider{
			width: calc(100% + 3rem);
			margin-left: -1.5rem;
			.slick-arrow{
				width: 1.2rem;
				height: 4.6rem;
				margin-top: -2.3rem;
			}
			.slick-prev{left: 1.3rem;}
			.slick-next{right: 1.3rem;}
		}
	}
	.contacts{
		font-size: 1.6rem;
	}
}