.breadcrumbs{
	margin: 3rem 0;
	opacity: .5;
	color: #000;
	font-size: 1.5rem;
	font-weight: 300;
	font-family: $opensans;
	a{
		color: #000;
		&:hover{text-decoration: underline;}
	}
}

@media only screen and (max-width : 767px){
	.breadcrumbs{
		text-align: center;
		margin: 1.5rem 0;
		opacity: .5;
		font-size: 1.25rem;
	}
}