.btn{
    display: block;
    padding: 0;
    outline: 0!important;
    outline-color: transparent!important;
    outline-width: 0!important;
    outline-style: none!important;
    box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
    border: none;
    background: none;
    box-shadow: none;
    transition: .25s ease;  
    cursor: pointer;
    border-radius: 0;
    white-space: nowrap;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &::-moz-focus-inner {border: 0;}
    &:disabled {
        cursor: default;
        opacity: .3;
        user-select: none;
    }
	&--search{
		background: url(../img/icons/search.svg) center center no-repeat;
		background-size: contain;
		font-size: 0;
	}
	&--black{
		text-align: center;
		background: #000;
		color: #fff;
		border: 1px solid #000;
		font-family: $opensans;
		transition: none;
		&:hover{
			background: #fff;
			color: #000;
		}
	}
	&--white{
		text-align: center;
		background: #fff;
		color: #000;
		border: 1px solid #000;
		font-family: $opensans;
		transition: none;
		&:hover{
			background: #666;
			color: #fff;
		}
	}
}