.catalog{
	margin: 0 auto 3.6rem;
	max-width: 192rem;
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	padding: 0 2.5rem;
	&--candybar{
		display: block;
		.catalog__main{width: 100%;}
	}
	&__bar{
		width: 32rem;
		padding: 0 5rem;
		position: relative;
		&-mob-btn{
			display: none;
		}		
	}
	&__filter{
		font-family: $opensans;
		width: 100%;
		&-group{
			margin-bottom: 5rem;
			&:last-child{margin-bottom: 0;}
		}
		&-title{
			width: 100%;
			text-align: left;
			font-weight: 600;
			font-size: 1.8rem;
			border-bottom: 1px solid #bfbfbf;
			padding: 0 3.2rem 0 2rem;
			position: relative;
			margin-bottom: 2.2rem;
			padding-bottom: .3rem;
		}
		&-label{
			display: block;
			width: 100%;
			position: relative;
			margin-bottom: .9rem;
			&:last-child{margin-bottom: 0;}
			padding-left: 2rem;
			input{
				display: none;
				&:checked + .catalog__filter-checkbox{background-color: #666;}
			}
		}
		&-checkbox{
			display: block;
			width: 1.4rem;
			height: 1.4rem;
			border: 1px solid #000;
			cursor: pointer;
			position: absolute;
			left: 0;
			top: .2rem;
			background-color: #fff;
   			transition: background-color .25s ease;   
			&-name{
				font-size: 1.6rem;
				font-weight: 300;
			}
		}
		&-price{
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 1.6rem;
			font-weight: 300;
			width: 100%;
			span{
				display: block;
				margin: 0 1rem;
				white-space: nowrap;
				&:first-child{margin-left: 0;}
			}
			&-input{
				display: block;
				width: 100%;
				outline: none;
				background: #fff;
				padding: 0 .4rem;
				flex-grow: 1;
				height: 2.3rem;
				border: 1px solid #000;
			}
		}
		&.fix-up,
		&.fix-down{
			padding: 20px 0;
			position: fixed;
			width: 22rem;
			overflow-y: auto;
			transition: padding .25s ease;
			&::-webkit-scrollbar { width: 0; }
			ms-overflow-style: none;
			overflow: -moz-scrollbars-none;
		}
		&.bot{
			position: absolute;
			width: 22rem;
			overflow-y: auto;
			&::-webkit-scrollbar { width: 0; }
			ms-overflow-style: none;
			overflow: -moz-scrollbars-none;
		}
	}
	&__main{
		width: calc(100% - 32rem);
		&-bar{
			display: flex;
			align-items: center;
			justify-content: space-between;
			&--top{margin-bottom: 2rem;}
			&-left{
				padding-right: 2rem;
				display: flex;
				align-items: center;
				justify-content: flex-start;
			}
		}		
	}
	&__select{
		width: 27rem;
		font-size: 1.4rem;
		font-weight: 300;
		font-family: $opensans;
		.jq-selectbox__select{
			width: 100%;
		}
		.jq-selectbox__select-text{
			display: block;
			width: 100% !important;
			height: 2.8rem;
			border: 1px solid #000;
			line-height: 2.6rem;
			padding: 0 3rem 0 1rem;
			
		}
		.jq-selectbox__trigger-arrow{
			display: block;
			position: absolute;
			right: 1rem;
			top: .8rem;
			border-top: 1rem solid #4c4c4c;
			border-bottom: 1rem solid transparent;
			border-left: .8rem solid transparent;
			border-right: .8rem solid transparent;
		}
		&.dropdown .jq-selectbox__trigger-arrow{
			border-top: 1rem solid transparent;
			border-bottom: 1rem solid #4c4c4c;
			top: 0;
		}
		.jq-selectbox__dropdown{
			background: #fff;
			width: 100%;
			border: 1px solid #000;
			margin-top: -1px;
			padding: 1rem 0;
			ul li{
				padding: 0 1rem;
				line-height: 2.4rem;
				cursor: pointer;
				&:hover{background-color: #e8e8e8;}
			}
		}
	}
	&__wrap{
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-start;
	}
	&__item{
		width: calc((100% - 7.2rem) / 4);
		margin: 0 2.4rem 3.6rem 0;
		&:nth-child(6n+6){margin-right: 2.4rem;}
		&:nth-child(4n+4){margin-right: 0;}
		&-pic{
			width: 100%;
			padding-top: 100%;			
			position: relative;
			&-img{
				display: block;
				overflow: hidden;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				img{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					&:first-child{	opacity: 1;}
					&:last-child{	opacity: 0;}
				}
			}
		}
		&-like{
			background: none;
			font-size: 0;
			position: absolute;
			width: 3.7rem;
			height: 3.3rem;
			z-index: 2;
			top: 1.8rem;
			right: 1.7rem;
			transition: opacity .25s ease;
			opacity: 0;
			&:before,&:after{
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: center center no-repeat;
				background-size: 100% auto;
    			transition: opacity .25s ease;    
			}
			&:before{
				background-image: url(../img/icons/heart-black.png);
				opacity: 1;
			}
			&:after{
				background-image: url(../img/icons/heart-pink.png);
				opacity: 0;
			}
			&:hover, &.active{
				&:before{opacity: 0;}
				&:after{opacity: 1;}
			}
		}
		&-calc{
		   position: absolute;
		   	top: 50%;
		   	left: 50%;
		   	transform: translate(-50%, -50%);  
			transition: opacity .25s ease;
			opacity: 0;
			.jq-number{
				display: block;
				margin: 0 auto;
				width: 11.1rem;
				position: relative;
			}
			.jq-number__field{width: 100%;}
			.jq-number__field input{
				display: block;
				width: 4.3rem;
				text-align: center;
				background: #fff;
				outline: none;
				height: 2.5rem;
				padding: 0;
				border: 1px solid #000;
				font-size: 1.5rem;
				color: #000;
				margin: 0 auto;
			}
			.jq-number__spin{
				position: absolute;
				top: 0;
				width: 1.8rem;
				height: 2.5rem;
				cursor: pointer;
				&:before, &:after{
					content: '';
					display: block;
					width: 100%;
					height: 2px;
					background: #000;
					position: absolute;
					top: 50%;
					left: 0;
				}
				&:hover{
					&:before, &:after{background: #000;}
				}
			}
			.jq-number__spin.minus{
				left: 0;
			}
			.jq-number__spin.plus{
				right: 0;
				&:after{transform: rotate(90deg);}
			}
			& + .catalog__item-shopcart{
				right: 50%;
				transform: translateX(50%);
			}
		}
		&:hover{
			.catalog__item-pic-img img{
				&:first-child{	opacity: 0;}
				&:last-child{	opacity: 1;}
			}
			.catalog__item-like{opacity: 1;}
			.catalog__item-calc{opacity: 1;}
			.catalog__item-shopcart{opacity: 1;}
		}
		&-shopcart{
			position: absolute;
			z-index: 2;
			bottom: 1.6rem;
			right: 1.7rem;
			width: 10rem;
			height: 2.8rem;
			line-height: 2.6rem;
			font-family: $opensans;
			font-size: 1.4rem;
			font-weight: 300;
			transition: opacity .25s ease;
			opacity: 0;
		}
		&-main{
			text-align: left;
			font-family: $opensans;
			padding-top: 1.2rem;
		}
		&-name{
			color: #000;
			display: block;
			font-size: 2rem;
			margin-bottom: .3rem;
			font-weight: bold;
		}
		&-desc{
			font-size: 1.8rem;
			font-weight: 400;
			margin-bottom: 1.4rem;
		}
		&-price{
			font-size: 1.8rem;
			font-weight: bold;
		}
	}
}
.pagination{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: $opensans;
	&__item{		
		display: block;
		width: 2.8rem;
		height: 2.8rem;
		border: 1px solid #969698;
		line-height: 2.6rem;
		text-align: center;
		font-size: 1.4rem;
		font-weight: 300;
		color: #000;
		background-color: #fff;
  		transition: background-color .25s ease;
		cursor: pointer;
		margin: 0 .5rem; 
		&:hover,&.active{background-color: #e4e2e2;}
	}
	span{
		margin: 0 .5rem;
		line-height: calc(2.6rem - 2px);
		text-align: center;
		font-size: 1.4rem;
	}
	&__next{
		margin-left: .5rem;
		text-decoration: underline;
		font-size: 1.4rem;
		font-weight: 300;
		color: #000;
		&:hover{text-decoration: none;}
	}
}
.search-counter{
	font-size: 14px;
	font-weight: 300;
	font-family: $opensans;
	padding-left: 3rem;
}

@media only screen and (max-width : 1799px){

}
@media only screen and (max-width : 1366px){
	.catalog{
		&__item{
			&-like{
				width: 3rem;
				height: 2.8rem;
				top: calc(100% + 1.6rem);
				right: auto;
				left: .4rem;
				transition: opacity .25s ease;
				opacity: .3;
			}
			&:hover{
				.catalog__item-pic-img img{
					opacity: .8;
					transform: scale(1.2);
				}
				.catalog__item-like{opacity: .3;}
				.catalog__item-shopcart{opacity: .3;}
			}
			&-shopcart{
				bottom: auto;
				top: calc(100% + 1.6rem);
				right: .4rem;
				width: 2.9rem;
				height: 2.9rem;
				background: none;
				border: none;
				font-size: 0;
				opacity: .3;
				display: none;
				&:before,&:after{
					content: '';
					display: block;
					width: 2.9rem;
					height: 2px;
					background: #000;
					position: absolute;
					top: 50%;
					left: 50%;
				}
				&:before{transform: translate(-50%, -50%);}
				&:after{transform: translate(-50%, -50%) rotate(90deg);}
			}
			&-main{
				padding: 1.6rem 4rem 0;
			}
			&-name{
				font-size: 1.8rem;
				margin-bottom: .5rem;
			}
			&-price{
				font-size: 1.8rem;
			}
		}
	}
}
@media only screen and (max-width : 1023px){
	.catalog{
		&__item{
			width: calc((100% - 4.8rem) / 3);
			margin: 0 2.4rem 3.6rem 0;
			&:nth-child(4n+4){margin-right: 2.4rem;}
			&:nth-child(3n+3){margin-right: 0;}
		}
		&__bar{padding-left: 0;}
	}
}
@media only screen and (max-width : 767px){
	.catalog{
		margin-bottom: 3.3rem;
		display: block;
		padding: 0 1.5rem;		
		&__bar{
			width: 100%;
			padding: 0;			
			&-mob-btn{
				display: block;
				width: 100%;
				height: 3.8rem;
				line-height: 3.2rem;
				text-align: center;
				background: #fff;
				border: 1px solid #909090;
				font-size: 1.4rem;
				font-weight: 300;
				font-family: $opensans;	
				margin-bottom: 1.4rem;
			}		
		}
		&__filter{
			display: none;
			border: 1px solid #909090;
			padding: 1.5rem 1.5rem 0 1.5rem;
			margin-bottom: 1.4rem;
			&-group{
				margin-bottom: 3rem;
				&:last-child{
					margin-bottom: 0;
					padding-bottom: 1.5rem;
				}
			}
			&-title{
				font-size: 1.6rem;
				&:after{
					top: -.5rem;
					border-top: .8rem solid transparent;
					border-bottom: .8rem solid #000;
					border-left: .6rem solid transparent;
					border-right: .6rem solid transparent;
				}
				&.open{
					&:after{
						top: .6rem;
						border-top-color: #000;
						border-bottom-color: transparent;
					}
				}
			}			
		}
		&__main{
			width: 100%;
			&-bar{
				display: block;
				&--top{
					margin-bottom: 2.4rem;
					.pagination{display: none;}
				}
				&-left{
					padding-right: 0;
					display: block;
				}
			}		
		}
		&__select{
			width: 100%;
			.jq-selectbox__select-text{
				height: 3.8rem;
				line-height: 3.2rem;
				border: 1px solid #909090;
				padding: 0 2rem;
				text-align: center;
			}
			.jq-selectbox__trigger-arrow{
				right: .8rem;
				top: 1.5rem;
				border-top: .8rem solid #4c4c4c;
				border-bottom: .8rem solid transparent;
				border-left: .6rem solid transparent;
				border-right: .6rem solid transparent;
			}
			&.dropdown .jq-selectbox__trigger-arrow{
				border-top: .8rem solid transparent;
				border-bottom: .8rem solid #4c4c4c;
				top: .5rem;
			}
			.jq-selectbox__dropdown{
				ul li{
					line-height: 3.2rem;
				}
			}
		}
		&__item{
			width: calc((100% - 2.4rem) / 2);
			margin: 0 2.4rem 3.6rem 0;
			&:nth-child(3n+3){margin-right: 2.4rem;}
			&:nth-child(2n+2){margin-right: 0;}
		}
	}
	.search-counter{
		margin-top: 2rem;
		text-align: center;
		padding-left: 0;
	}
}

@media only screen and (max-width : 599px){
	.catalog{
		&__item{
			width: 100%;
			margin: 0 0 2rem 0;
			&:nth-child(3n+3){margin-right: 0;}
		}
	}
}