@font-face {
    font-family: 'BookAntiqua';
    src: url('../fonts/BookAntiqua.eot');
    src: url('../fonts/BookAntiqua.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BookAntiqua.woff2') format('woff2'),
        url('../fonts/BookAntiqua.woff') format('woff'),
        url('../fonts/BookAntiqua.ttf') format('truetype'),
        url('../fonts/BookAntiqua.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
