.main-banners{
	padding: 1.5rem 0;
	&__banner{
		width: calc(50% - 1.5rem);
		margin: 1.5rem 0;
		position: relative;
		overflow: hidden;
		&-pic{
			width: 100%;
			background: center center no-repeat;
			background-size: cover;
   			transition: opacity .5s ease, transform 3s ease;   
		}
		&--big{
			.main-banners__banner-pic{padding-top: 116%;}
		}
		&--small{
			.main-banners__banner-pic{padding-top: 61%;}
		}
		&--1, &--2{float: left;}
		&--3,&--4{float: right;}	
		&:hover{
			.main-banners__banner-pic{
				opacity: .8;
				transform: scale(1.2);
			}
		}
	}
	&__wrap{
		text-align: center;
		width: 100%;
		position: absolute;
		left: 0;
		&--1-top{top: 2rem;}
		&--1-bottom{bottom: 13.3rem;}
		&--3-top{top: 4.2rem;}
		&--3-bottom{top: 9.8rem;}
		&--2{
			top: 50%;
			transform: translateY(-50%);
		}
		&--4{bottom: 7.7rem;}
	}
	&__title{
		font-size: 4rem;
		margin-bottom: 1.8rem;
		text-shadow: -0.2rem -0.2rem #fff;
	}
	&__btn{
		width: 21.6rem;
		height: 4.3rem;
		line-height: 4rem;
		font-size: 2rem;
		margin: 0 auto;
	}
}

@media only screen and (max-width : 767px){
	.main-banners{
		padding: 0;
		&__banner{
			width: 100%;
			margin: 3rem 0;
			&-pic{
				margin-bottom: 1.2rem;  
			}
			&--1, &--2{float: none;}
			&--3,&--4{float: none;}	
			&:hover{
				.main-banners__banner-pic{
					opacity: 1;
					transform: none;
				}
			}
		}
		&__wrap{
			position: static;
			&--2{transform: none;}
		}
		&__title{
			font-size: 1.7rem;
			margin-bottom: 1rem;
			text-shadow: none;
			line-height: 1;
			br{display: none;}
		}
		&__btn{
			width: 14rem;
			height: 2.8rem;
			line-height: calc(2.6rem - 2px);
			font-size: 1.37rem;
		}
	}
}